.root {
    position: fixed;
    bottom: 0;
    width: 100vw;
    background-color: #ccc;

    .chat_form {
        display: flex;
        justify-content: center;
        align-items: center;

        .chat_input {
            width: 50%;
            padding: 4px 8px;
            border-radius: 10px;
            outline: none;
            border: none;
            color: #333333;
            font-size: 14px;
            margin: 0 5px;
            resize: none;
            margin-right: 12px;
        }

        .chat_addIcon {
            cursor: pointer;
            color: #333333;
        }

        .chat_addIconLoaded {
            cursor: pointer;
        }

        .chat_hiddenIcon {
            display: none;
        }
    }

    .chat_sendBtn {
        background-color: #0054ac;
        color: #fff;
        font-weight: bold;
        text-transform: inherit;
        border-radius: 10px;
        &:hover {
            background-color: #3171ca;
            opacity: 0.5;
        }
    }

    .chat_sendDisableBtn {
        background-color: dimgray;
        color: white !important;
        font-weight: bold;
        text-transform: inherit;
        border-radius: 10px;
        cursor: none;
    }
}

@media (min-width: 600px) {
    .root {
        height: 80px;

        .chat_form {
            margin: 0 auto;
            width: 800px;
            margin-top: 13px;

            .chat_input {
                width: 60%;
                padding: 15px;
                margin: 0 16px;
                font-size: 18px;
            }
        }
        .chat_sendBtn,
        .chat_sendDisableBtn {
            height: 40px;
            width: 80px;
        }
    }
}
