.root {
    height: 64px;
    .app_bar {
        background: linear-gradient(to right, #00348a, #0054ac, #3171ca);
        .typography {
            flex-grow: 1;
            .title_logo {
                font-size: large;
                font-weight: bold;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}

@media (min-width: 600px) {
    .header_content {
        width: 696px;
        margin: 0 auto;
    }
}
